 html {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    background-color: azure;
    color: black;
    margin: .5rem 3rem;
}

body {
    /* max-width: 830px;
    margin: 0 auto; */
}

h3:hover {
    color: teal;
}

/* Header Section */

.header {
    height: 6rem;
    width: 100%;
}

.logo {
    float: left;
    padding: .5rem;
}

.logo img {
    height: 1.25rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

li {
    float: right;
    display: inline;
}

li a:hover {
    background-color: teal;
    color: black;
}

a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: grey;
    font-size: .75rem;
}

#subscribe a {
    color: black;
    background-color: coral;
    border-radius: 5px;
}

#subscribe a:hover {
    background-color: teal;
    color: black; 
}

.dropdown {
    display: none;
}

/* Main - Weekly Newsletter section*/

.main {
    height: auto;
    width: 100%;
}

.main img {
    width: 35%;
    height: auto;
}

.weekly { 
    width: 60%;
    height: auto;
    float: right;
}

.weekly h3 {
    margin: 0;
}

.weekly p {
    font-size: .75rem;
    margin-top: 1rem;
    color: grey;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.author .avatar {
    border-radius: 50%;
    width: 2rem;
}

.author figcaption {
    font-size: .5rem;
    padding-left: .5rem;
}

.author-name {
    font-weight: 600;
}

.author-title {
    color: grey;
}

/* Content Section */

.content {
    height: auto;
    width: 100%;
    margin-top: 4rem;
}

.col {
    display: block;
    width: 30%;
    height: 90%;
    margin: 1.5%;
    float: left;
}

.col img {
    width: 100%;
    height: auto;
}

.col p {
    font-size: .75rem;
    margin-top: 1rem;
    color: grey;
}

/* Footer Section */

footer {
    margin-top: 2rem;
    width: 100%;
}

footer, .logo {
    float: left;
    padding: .5rem;
}

footer, .copyright {
    float: right;
    font-size: .75rem;
    color: grey;
} 

/* @media */

@media only screen and (max-width: 768px) {
    html {
        margin: .25rem 3rem;
    }

    /* body {
        max-width: 730px;
        margin: 0 auto;
    } */

    .main img {
        width: 100%;
        max-height: auto;
    }

    .weekly { 
        width: 100%;
        height: auto;
    }

    .col {
        width: 100%;
        height: auto;
    }

    .col img {
        width: 100%;
        height: auto;
    }

    .dropdown {
        display: none;
    }

  }
  
  @media only screen and (max-width: 576px) {
    html {
        margin: .25rem 3rem;
    }

    .main img {
        width: 100%;
        height: auto;
    }

    .weekly { 
        width: 100%;
        height: auto;
    }
    
    .col {
        width: 100%;
        height: auto;
    }

    .col img {
        width: 100%;
        height: auto;
    }

    .navigation {
        display: none;
    }

    /* Style The Dropdown Button */
    .dd-btn {
        background-color: seashell;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        display: inline-block;
        float: right;
    
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: seashell;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: teal}
    
      
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dd-btn {
        background-color: seashell;
    }

  }